[submodule "ssh-wrapper/openssh-portable"]
	path = ssh-wrapper/openssh-portable
	url = git@github.com:remote-exercise-framework/ref-openssh-portable.git
[submodule "ref-docker-base/ref-utils"]
	path = ref-docker-base/ref-utils
	url = git@github.com:remote-exercise-framework/ref-utils.git
[submodule "ref-linux"]
	path = ref-linux
	url = git@github.com:remote-exercise-framework/ref-linux.git
[submodule "webapp/ref/static/ace-builds"]
	path = webapp/ref/static/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
