**/.vscode
**/__pycache__
**/*.py[cod]
**/*$py.class
**/.mypy_cache
**/Cargo.lock

docker-compose.yml
settings.env
exercises
data

webapp/.coverage
webapp/.testmondata
webapp/htmlcov/

ref-docker-base/task-wrapper
ref-docker-base/container-keys

ref-interface/target

ssh-wrapper/ref-interface/target/
ssh-wrapper/container-keys
ssh-wrapper/ssh-server-keys/
