**/.vscode
**/__pycache__
**/*.py[cod]
**/*$py.class
**/.mypy_cache
**/.uv-cache
**/Cargo.lock

docker-compose.yml
settings.env
exercises
data

webapp/.coverage
webapp/.testmondata
webapp/htmlcov/
webapp/venv

ref-docker-base/task-wrapper
ref-docker-base/container-keys

container-keys/

tests/container_logs/
tests/coverage_reports/
tests/failure_logs/
docker-compose.ref_e2e_*.yml
.docker-cache/
todo.md
