#group0.form-row {
    background-color: #e2d6d7;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#group1.form-row {
    background-color: #d7c6e2;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#group2.form-row {
    background-color: #c4e2c3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#group3.form-row {
    background-color: #e2d5c1;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



#group4.form-row {
    background-color: #7fe2bd;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}




