cerberus==1.3.5
chardet==5.2.0
dbus-python==1.2.16
distro-info==1.0
ipython==8.12.3
itsdangerous==2.1.2
lazy-object-proxy==1.9.0
matplotlib==3.7.4
mypy==1.7.1
opencv-python==4.8.1.78
pathlib2==2.3.7.post1
pip-chill==1.0.3
pwntools==4.11.1
pygobject==3.36.0
pylint==3.0.2
pyyaml==5.3.1
r2env==0.5.7
requests-unixsocket==0.3.0
ssh-import-id==5.11
tqdm==4.66.1
unattended-upgrades==0.1
wrapt==1.16.0
