<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>REF</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                inTabOrder: false
            }
        });
    </script>

    {% block head %}

    {% endblock %}

</head>

<body>

{% if current_user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='navbar_logo.png') }}" height="30" alt="">
          </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ref.student_view_all') }}">Students</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Exercise
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('ref.exercise_view_all') }}">View</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Instances
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('ref.instances_view_all') }}">View</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Graph
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('ref.graph') }}">View</a>
                        </div>
                </li>
        </ul>


        
        <li class="nav-item">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('ref.logout') }}" class="btn btn-light" role="button">Logout</a>
            {% endif %}
        </li>

    </div>
</nav>

{% endif %}

<ul class="nav nav-tabs">
    {%  block sub_nav_bar %}{% endblock %}
</ul>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
               {{ message }}
            </div>
        {% elif category == 'warning' %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
             </div>
        {% elif category == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
             </div>
        {% elif category == 'info' %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
         </div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}


<div id="header" class="container">
    <h2>{% block title %}{% endblock %}</h2>
</div>


<div id="content" class="container">
    {% block content %}{% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <!-- Disable mouswheel scrolling for number input fields -->
    <script>
    $(function(){
        $(':input[type=number]').on('mousewheel',function(e){ $(this).blur(); });
    });
    </script>

</body>
</html>

