{% extends "base.html" %}

{% block content %}

<nav id="top-navigation" class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='navbar_logo.png') }}" height="30" alt="">
            </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
{% if current_user.is_admin %}
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ref.student_view_all') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ref.group_view_all') }}">Groups</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ref.exercise_view_all') }}">Exercises</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ref.instances_view_all') }}">Instances</a>
            </li>
{% endif %}
{% if current_user.is_admin or current_user.is_grading_assistant %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ref.grading_view_all') }}">Grading</a>
            </li>
{% endif %}
{% if current_user.is_admin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Visualization
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('ref.graph') }}">Container and Networks</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    System
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('ref.view_system_settings') }}">Settings</a>
                    <a class="dropdown-item" href="{{ url_for('ref.system_gc') }}">System GC</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('ref.logout') }}" class="btn btn-light" role="button">Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% if settings.MAINTENANCE_ENABLED.value %}
<div class="alert alert-danger" role="alert">
    <center>*** Maintenance mode enabled ***</center>
</div>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
               {{ message }}
            </div>
        {% elif category == 'warning' %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
             </div>
        {% elif category == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
             </div>
        {% elif category == 'info' %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
         </div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

<div id="header" class="container">
    <h1>{% block title %}{% endblock %}</h1>
</div>

<div id="content" class="container">
    {% block admin_content %}{% endblock %}
</div>

{% endblock %}
