{% extends "admin_base.html" %}

{% block title %}
Exercises
{% endblock %}

{% block admin_content %}

{% if importable|length %}
<div class="card mb-5">
    <h4 class="card-header">
        Importable
    </h4>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Short Name</th>
            <th scope="col">Version</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    {% for exercise in importable %}
        <tr>
                <td>{{ exercise.short_name }}
                </td>
                <td>{{ exercise.version }}
                        {% if exercise.is_update() %}
                        <span class="badge badge-secondary">Update</span>
                        {% else %}
                        <span class="badge badge-secondary">New</span>
                        {% endif %}
                </td>
                <td>{{ exercise.category }}</td>
                <td>
                    <div class="btn-group">
                            {% if exercise.is_update() %}
                            <a role="button" class="btn btn-outline-success ok-modal" href="{{ url_for('ref.exercise_diff', path_a=exercise.template_import_path) }}" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Diff</a>
                            {% endif %}
                            {% if not exercise.errors|length %}
                                <a role="button" class="btn btn-outline-success" href="{{ url_for('ref.exercise_do_import', cfg_path=exercise.template_import_path|quote_plus, next=request.path) }}">Import</a>
                            {% endif %}
                        </div>
                </td>
            {% for message in exercise.errors  %}
            <tr>
                <td colspan="4">
                <div class="alert alert-danger" role="alert">
                        {{ message }}
                </div>
                </td>
            </tr>
            {% endfor %}
            {% for message in exercise.warnings  %}
            <tr>
                <td colspan="4">
                <div class="alert alert-warning" role="alert">
                        {{ message }}
                </div>
                </td>
            </tr>
            {% endfor %}
    {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}

{% set ssh_host = settings.SSH_HOSTNAME.value  %}
{% set ssh_port  = settings.SSH_PORT.value  %}

{% for category, tasks in categories.items() %}
    <div class="card mb-5">
        <h4 class="card-header">
            {{ category }}
        </h4>
    {% for short_name, exercises in tasks.items() %}
        <div class="card">
            <h8 class="card-header">
                <div class="text-center"> {{ short_name }} </div>
            </h8>
        </div>
        <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Short Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Points</th>
                    <th scope="col">Status</th>
                    <th scope="col">#Instances<br>#Submissions</th>
                    <th scope="col">Deadline</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
            <!-- Create a row for each exercise -->
                {% for e in exercises %}
                    <tr {{ "class=table-success" if e.is_default }}>
                        <td>{{ e.short_name }}</td>
                        <td>{{ e.version }}</td>
                        <td>{{ e.max_grading_points }}</td>
                        <td>{{ e.build_job_status.value }}</td>
                        <td>
                            {{ e.active_instances|length }} <br> {{ e.submission_heads()|length }} ({{ e.submissions()|length }})
                        </td>
                        <td scope="row">{{ moment(e.submission_deadline_end).fromNow() if e.submission_deadline_end else 'None' }}</td>
                        <td>
                            <div class="btn-group">
                                {% if e.build_job_status.value == 'FINISHED' %}
                                    <a role="button" class="btn btn-outline-{{ 'success' if e.is_default else 'danger'}}" href="{{ url_for('ref.exercise_toggle_default', exercise_id=e.id, next=request.path) }}">Default</a>
                                {% endif %}
                                {% if e.build_job_status.value not in ['FINISHED', 'BUILDING'] %}
                                    <a role="button" class="btn btn-outline-success" href="{{ url_for('ref.exercise_build', exercise_id=e.id, next=request.path) }}">Build</a>
                                {% endif %}
                                <div class="btn-group" role="group">
                                    <a id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ...
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        {% if e.active_instances|length %}
                                            <a class="dropdown-item"  href="{{ url_for('ref.instances_view_by_exercise', exercise_name=e.short_name|quote_plus, exercise_version=e.version) }}">Instances</a>
                                        {% endif %}

                                        {% if e.build_job_status.value == 'FINISHED' %}
                                            <a class="dropdown-item" href='.' onclick="displayToast('Copied to clipboard'); return copyStringToClipboard('ssh {{ e.short_name }}@{{ ssh_host }} -p {{ ssh_port  }}')"> SSH Command</a>
                                        {% endif %}
                                        {% if e.build_job_status.value == 'FINISHED' and settings.ALLOW_TCP_PORT_FORWARDING.value %}
                                            <a class="dropdown-item" href='.' onclick="displayToast('Copied to clipboard'); return copyStringToClipboard('Host {{ e.short_name }}-{{ ssh_host }}\n\tHostName {{ ssh_host }}\n\tUser {{ e.short_name }}\n\tPort {{ ssh_port  }}\n\tPubkeyAuthentication yes')">SSH Config</a>
                                        {% endif %}

                                        {% if e.build_job_status.value not in ['BUILDING'] %}
                                            <a class="dropdown-item" href="{{ url_for('ref.exercise_browse', exercise_id=e.id) }}">Browse</a>
                                            <a class="dropdown-item ok-modal"  href="{{ url_for('ref.exercise_view', exercise_id=e.id) }}">View</a>
                                            <a class="dropdown-item confirm" href="{{ url_for('ref.exercise_delete', exercise_id=e.id, next=request.path) }}">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
