{% extends "admin_base.html" %}

{% block title %}
Grading of exercise {{ exercise.short_name }} - v{{ exercise.version }}
{% endblock %}

{% block admin_content %}

{% if submissions %}
    <div class="card mb-5">
        <h4 class="card-header">
            Submissions
        </h4>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#Mat</th>
                <th scope="col">Test Passed</th>
                <th scope="col">Grading</th>
                <th scope="col">Submitted at</th>
                <th scope="col">Modified</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                {% set instance = submission.submitted_instance  %}
                {% set deadline_passed = exercise.deadine_passed() %}
                {% set modified = submission.is_modified() %}
                {% set grading = submission.grading %}
                <tr class="table-{{ 'success' if grading else 'danger'  }}">
                    <td>{{ submission.submitted_instance.user.mat_num }}</td>
                    {% if exercise.submission_test_enabled %}
                        <td>{{ submission.test_passed  }}</td>
                    {% else  %}
                        <td>Disabled</td>
                    {% endif %}
                    <td>{{ grading.points_reached|default('?') }} of 12</td>
                    <td>{{ moment(submission.submission_ts).fromNow()  }}</td>
                    <td>{{ modified }}</td>
                    <td>
                        <a role="button" class="btn btn-outline-success" onclick="return copyStringToClipboard('ssh instance-{{ instance.id  }}@{{ settings.SSH_HOSTNAME.value}} -p {{ settings.SSH_PORT.value }}')">SSH</a>
                        <a role="button" class="btn btn-outline-{{ 'success' if deadline_passed else 'danger'  }}" href="{{ url_for('ref.grading_view_submission', submission_id=submission.id, next=request.path)  }}">Grade</a>
                        <a role="button" class="btn btn-outline-{{ 'success' if modified else 'danger'  }}" href="{{ url_for('ref.submission_reset', submission_id=submission.id, next=request.path)  }}">Reset</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h6 class="text-center">No Data</h6>
{% endif %}

{% endblock %}