<div class="modal-dialog modal-dialog-centered modal-full" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Details of instance {{ instance.id }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">{{ instance.id }}</dd>
                <dt class="col-sm-3"> Entry Service Network ID </dt>
                <dd class="col-sm-9">{{ instance.network_id }}</dd>
                <dt class="col-sm-3">Exercise ID</dt>
                <dd class="col-sm-9">{{ instance.exercise_id }}</dd>
                <dt class="col-sm-3">User ID</dt>
                <dd class="col-sm-9">{{ instance.user_id }}</dd>
                <dt class="col-sm-3">Persistance Path</dt>
                <dd class="col-sm-9">{{ instance.persistance_path }}</dd>
            </dl>

            <h5>Entry Service</h5>
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">{{ instance.entry_service.id }}</dd>
                <dt class="col-sm-3">Container ID</dt>
                <dd class="col-sm-9">{{ instance.entry_service.container_id }}</dd>
                <dt class="col-sm-3">Overlay Upper</dt>
                <dd class="col-sm-9">{{ instance.entry_service.overlay_upper }}</dd>
                <dt class="col-sm-3">Overlay Work</dt>
                <dd class="col-sm-9">{{ instance.entry_service.overlay_work }}</dd>
                <dt class="col-sm-3">Overlay Merged</dt>
                <dd class="col-sm-9">{{ instance.entry_service.overlay_merged }}</dd>
            </dl>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>