{% extends "admin_base.html" %}
{% import "wtf_bootstrap_utils.html" as wtf_utils %}

{% block title %}
Login
{% endblock %}

{% block content %}

<form method="POST">
    {{ form.csrf_token }}
    <div class="form-row" id="from_group_3">
        <div class="form-group col-md-6">
            {{ wtf_utils.render_field(form.username, "text") }}
        </div>
    </div>
    <div class="form-row" id="from_group_3">
            <div class="form-group col-md-6">
                {{ wtf_utils.render_field(form.password, "password") }}
            </div>
    </div>
    <div class="form-row" id="from_group_3">
        <div class="form-group col-md-3">
            {{ wtf_utils.render_submit(form.submit) }}
       </div>
    </div>
</form>

{% endblock %}