{% extends "base.html" %}
{% import "wtf_bootstrap_utils.html" as wtf_utils %}

{% block title %}
Login
{% endblock %}

{% block content %}


<div style="padding-top: 10%;">
<div class="mx-auto" style="width: 300px;">
    <div class="card">
        <h4 class="card-header">
            Login
        </h4>
        <div class="card-body">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-row" id="from_group_3">
                    <div class="form-group col-12">
                        {{ wtf_utils.render_field(form.username, "text") }}
                    </div>
                </div>
                <div class="form-row" id="from_group_3">
                        <div class="form-group col-12">
                            {{ wtf_utils.render_field(form.password, "password") }}
                        </div>
                </div>
                <div class="form-row" id="from_group_3">
                    {{ wtf_utils.render_submit(form.submit) }}
                </div>
            </form>
        </div>
    </div>

</div>
</div>

{% endblock %}