{% extends "student_base.html" %}
{% import "wtf_bootstrap_utils.html" as wtf_utils %}

{% block title %}
Key Generation
{% endblock %}

{% block content %}

<script>
function copy_text(id) {
  var copyText = document.getElementById(id);
  copyText.select();
  document.execCommand("copy");
}
</script>

{% if form %}

<form autocomplete="off" method="POST" action="#show-keys">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-lg-6 col-md-9">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.mat_num, "number") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.password, "password") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.password_rep, "password") }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.firstname, "text") }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.surname, "text") }}
                    </div>
                </div>

                {% if groups_enabled %}
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_select_or_string_field(form.group_name) }}
                    </div>
                </div>
                {% endif %}

            </div>

            <div class="col-md-12">
                <div class="form-group">
                    {{ wtf_utils.render_textarea(form.pubkey, style="font-family: monospace") }}
                </div>
            </div>

            <div class="form-group">
                {{ wtf_utils.render_submit(form.submit) }}
            </div>

        </div>
    </div>
</form>

{% endif %}

{% if pubkey %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Public RSA Key</h4>
        <p>This is your public key.</p>
        <hr>
        <div class="float-right">
            <a href="{{ url_for('ref.student_download_pubkey', signed_mat=signed_mat) }}" class="btn btn-outline-primary" role="button">Download</a>
            <button type="button" class="btn btn-outline-primary" onclick="copy_text('pubkey-textarea');">Copy</button>
        </div>
        <br>
        <textarea class="form-control" id="pubkey-textarea" rows="10" style="font-family: monospace" readonly>{{pubkey|safe}}</textarea>
    </div>

{% endif %}

{% if privkey %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Private RSA Key</h4>
        <p>
            This is your private key.
        </p>
        <hr>
        <div class="float-right">
            <a href="{{ url_for('ref.student_download_privkey', signed_mat=signed_mat) }}" class="btn btn-outline-primary" role="button">Download</a>
            <button type="button" class="btn btn-outline-primary" onclick="copy_text('privkey-textarea');">Copy</button>
        </div><br>
        <textarea class="form-control" id="privkey-textarea" rows="10" style="font-family: monospace" readonly>{{privkey|safe}}</textarea>
    </div>

{% endif %}

{% endblock %}