<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Remote Exercises Framework</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block head %}

    {% endblock %}

</head>

<body>
    {%  if error_message %}
        <div class="alert alert-danger" role="alert">
        {{ error_message }}
        </div>
    {% endif %}

    <div class="jumbotron public-banner">
        <div class="container">
            <h1>{{ settings.COURSE_NAME.value  }}</h1>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    <div class="alert alert-danger" role="alert">
                    {{ message }}
                    </div>
                {% elif category == 'warning' %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% elif category == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% elif category == 'info' %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-6 col-md-9">
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'get_key' %} active {% endif %}" href="{{ url_for('ref.student_getkey') }}">Get Key</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'restore_key' %} active {% endif %}" href="{{ url_for('ref.student_restorekey') }}">Restore Key</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ref.login') }}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script>
        $(document).ready(function() {
            $('body').bootstrapMaterialDesign();
            //Disable mouswheel scrolling for number input fields -->
            $(':input[type=number]').on('mousewheel',function(e){ $(this).blur(); return false; });
        });
    </script>

</body>
</html>
