{% extends "admin_base.html" %}

{% block title %}
Students
{% endblock %}

{% block admin_content %}
<div class="card">
    <h4 class="card-header">
        All Users
    </h4>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#id</th>
            <th scope="col">#Mat.</th>
            <th scope="col">Name</th>
            <th scope="col">#Instances</th>
            <th scope="col">Admin</th>
            <th scope='col'></th>
            </tr>
        </thead>
        <tbody>
    {% for student in students %}
        <tr>
            <th scope="row">{{student.id}}</th>
            <th scope="row">{{student.mat_num}}</th>
            <td>{{student.first_name}}, {{student.surname}} ({{student.nickname}})</td>
            <td>
                {{ student.instances|length }}
            </td>
            <td>{{student.is_admin}}</td>
            <td>
                <div class="btn-group">
                <a role="button" class="btn btn-outline-success" href="{{ url_for('ref.student_view_single', user_id=student.id) }}">View</a>
                {% if student.instances|length %}
                    <a role="button" class="btn btn-outline-success" href="{{ url_for('ref.instances_by_user_id', user_id=student.id) }}">Instances</a>
                {% endif %}
                <a role="button" class="btn btn-outline-success" href="{{ url_for('ref.student_edit', user_id=student.id, next=request.path) }}">Edit</a>
                <a role="button" class="btn btn-outline-danger confirm" href="{{ url_for('ref.student_delete', user_id=student.id, next=request.path) }}">Delete</a>
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}