{% extends "student_base.html" %}
{% import "wtf_bootstrap_utils.html" as wtf_utils %}

{% block title %}
Key Generation
{% endblock %}

{% block content %}

<script>
    function copy_text(id) {
        var copyText = document.getElementById(id);
        copyText.select();
        document.execCommand("copy");
    }
</script>

{% if form %}

    <form method="POST">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-lg-6 col-md-9">
                <div class="form-group">
                    {{ wtf_utils.render_field(form.mat_num, "number") }}
                </div>
                <div class="form-group">
                    {{ wtf_utils.render_field(form.password, "password") }}
                </div>
                <div class="form-group">
                    {{ wtf_utils.render_submit(form.submit) }}
                </div>
            </div>
        </div>
    </form>

{% endif %}

{% if pubkey and signed_mat %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Public RSA Key</h4>
        <p>
        </p>
        <hr>
        <div class="float-right">
            <a href="{{ url_for('ref.student_download_pubkey', signed_mat=signed_mat) }}" class="btn btn-outline-primary" role="button">Download</a>
            <button type="button" class="btn btn-outline-primary" onclick="copy_text('pubkey');">Copy</button>
        </div><br>
        <textarea class="form-control" id="pubkey" rows="10" style="font-family: monospace" readonly>{{pubkey|safe}}</textarea>
    </div>

{% endif %}

{% if privkey and signed_mat %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Private RSA Key</h4>
        <p>
        </p>
        <hr>
        <div class="float-right">
            <a href="{{ url_for('ref.student_download_privkey', signed_mat=signed_mat) }}" class="btn btn-outline-primary" role="button">Download</a>
            <button type="button" class="btn btn-outline-primary" onclick="copy_text('privkey');">Copy</button>
        </div><br>
        <textarea class="form-control" id="privkey" rows="10" style="font-family: monospace" readonly>{{privkey|safe}}</textarea>
    </div>

{% endif %}

{% endblock %}