<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Remote Exercises Framework</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                inTabOrder: false
            }
        });
    </script>

    {% block head %}

    {% endblock %}

</head>

<body>
{%  if error_message %}
    <div class="alert alert-danger" role="alert">
    {{ error_message }}
    </div>
{% endif %}

<!-- <ul class="nav nav-tabs">
    {%  block sub_nav_bar %}{% endblock %}
</ul>


<div id="header" class="container">
    <h2>{% block title %}{% endblock %}</h2>
</div> -->

<div class="jumbotron" style="background:#77B76A; color:#FFFFFF !important">
        <div class="container">
            <h1>OS-Security</h1>
            <p>(your private keys are kept in a super-secure HSM!)</p>
        </div>
    </div>
    
    <div class="container">
            {% block content %}{% endblock %}
    <div>
    
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <!-- Disable mouswheel scrolling for number input fields -->
    <script>
    $(function(){
        $(':input[type=number]').on('mousewheel',function(e){ $(this).blur(); });
    });
    </script>

</body>
</html>

