{% extends 'modal/ok.html' %}

{% block title %}
User Details
{% endblock title %}

{% block content %}
<h5>Meta</h5>
<dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{ user.id }}</dd>
    <dt class="col-sm-3">Firstname</dt>
    <dd class="col-sm-9">{{ user.first_name }}</dd>
    <dt class="col-sm-3">Surname</dt>
    <dd class="col-sm-9">{{ user.surname }}</dd>
    <dt class="col-sm-3">Matriculation Number</dt>
    <dd class="col-sm-9">{{ user.mat_num }}</dd>
    <dt class="col-sm-3">Group</dt>
    <dd class="col-sm-9">{{ user.group.name|default('None') }}</dd>
    <dt class="col-sm-3">Date of regestration</dt>
    <dd class="col-sm-9">{{ moment(user.registered_date).format() }}</dd>

    <dt class="col-sm-3">Authorization Groups</dt><dd class="col-sm-9"></dd>
    {% for g in user.auth_groups %}
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">{{ g.value }}</dd>
    {% endfor %}
    <dt class="col-sm-12">Public-Key</dt>
    <dt class="col-sm-12">
        <textarea class="form-control" id="pubkey" rows="10" readonly>{{user.pub_key_ssh|safe}}</textarea>
    </dt>
    <dt class="col-sm-12">Private-Key</dt>
    <dt class="col-sm-12">
        <textarea class="form-control" id="pubkey" rows="10" readonly>{{user.priv_key|safe}}</textarea>
    </dt>
</dl>
{% endblock content %}
