{% extends "admin_base.html" %}
{% import "wtf_bootstrap_utils.html" as wtf_utils %}

{% block head %}
{% endblock %}

{% block title %}
System Garbage Collector
{% endblock %}

{% block admin_content %}



{% if dangling_networks %}
<div class="card">
    <h5 class="card-header">Found {{ dangling_networks|length }} dangling networks <div class="float-right"><a role="button" class="btn btn-outline-danger" href="{{ url_for('ref.sysmtem_gc_delete_dangling_networks', next=request.path) }}">Delete</a> </div><br></h5>
    <div class="card-body">
      <h5 class="card-title">The following networks are not connected to any container</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            {% for network in dangling_networks %}
                <tr>
                    <td>{{ network.id }}</td>
                    <td>{{ network.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


{% if dangling_container %}
<div class="card">
    <h5 class="card-header">Found {{ dangling_container|length }} dangling container <div class="float-right"><a role="button" class="btn btn-outline-danger" href="{{ url_for('ref.sysmtem_gc_delete_dangling_container', next=request.path) }}">Delete</a> </div><br></h5>
    <div class="card-body">
      <h5 class="card-title">The following instances are not connected to the SSH entry server. </h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in dangling_container %}
                <tr>
                    <td>{{ instance.id }}</td>
                    <td>{{ instance.name }}</td>
                    <td>{{ instance.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


{% if not dangling_networks and not dangling_container %}
No issues found.
{% endif %}

{% endblock %}
