{% extends "admin_base.html" %}
{% import "wtf_bootstrap_utils.html" as wtf_utils %}

{% block title %}
User Edit
{% endblock %}

{% block admin_content %}

<form autocomplete="off" method="POST">
        {{ form.csrf_token }}
    <div class="row">
        <div class="col-lg-6 col-md-9">
            <div class="form-group">
                {{ wtf_utils.render_field(form.id, "number", readonly=True) }}
            </div>
            <div class="form-group">
                {{ wtf_utils.render_field(form.mat_num, "number") }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.password_rep, "password") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.password_rep, "password") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.firstname, "text") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.surname, "text") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.nickname, "text") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ wtf_utils.render_select_or_string_field(form.group_name) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        {{ wtf_utils.render_radio(form.course, vertical=True) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        {{ wtf_utils.render_field(form.is_admin, "checkbox") }}
                    </div>
                </div>
            </div>

            {{ wtf_utils.render_submit(form.submit) }}
        </div>
    </div>
</form>


{% endblock %}
