<ul class="list-group bmd-list-group-sm file-structure">
    {% for file in files %}
        <a class="list-group-item highlight load-file" href="{{ url_for('ref.file_browser_load_file')  }}" data-filename="{{ file['path'] }}">
            <span class="text-rub-green">{% if not file['is_file'] %} &rsaquo; {% else %} &bull; {% endif %}</span>
            {{ file['path'] }}
        </a>
    {% endfor %}
    <label>
    <input type="checkbox" id="show_hidden_files_cb" style="margin-top: 15pt;" checked>
    Show Hidden Files
    </label>
</ul>