ansi2html==1.8.0
argh==0.26.2
arrow==1.2.3
docker==6.0.1
flask-bcrypt==1.0.1
flask-debugtoolbar==0.13.1
flask-failsafe==0.2
flask-limiter==2.7.0
flask-login==0.6.2
flask-migrate==3.1.0
flask-moment==1.0.5
fuzzywuzzy==0.18.0
gunicorn==20.1.0
hypothesis==6.56.4
more-itertools==9.0.0
pip-chill==1.0.1
psycopg2==2.9.5
pycryptodome==3.15.0
pysocks==1.7.1
pytest-cov==4.0.0
pytest-testmon==1.4.1
pytest-watch==4.2.0
python-levenshtein==0.20.8
python-telegram-handler==2.2.1
pytz==2022.6
pyyaml==6.0
rq==1.11.1
uwsgi==2.0.21
wcwidth==0.2.5
wtforms==3.0.1
git+https://github.com/nbars/PySocks.git@hack_unix_domain_socket_file_support
