ansi2html==1.5.2
argh==0.26.2
arrow==0.15.6
docker==4.2.0
flask-bcrypt==0.7.1
flask-debugtoolbar==0.11.0
flask-failsafe==0.2
flask-limiter==1.2.1
flask-login==0.5.0
flask-migrate==2.5.3
flask-moment==0.9.0
fuzzywuzzy==0.18.0
git+https://github.com/nbars/PySocks.git@hack_unix_domain_socket_file_support
gunicorn==20.0.4
hypothesis==5.15.0
importlib-metadata==1.6.0
pip-chill==1.0.1
psycopg2==2.8.5
pycryptodome==3.9.7
pygments==2.6.1
pytest-cov==2.8.1
pytest-testmon==1.0.2
pytest-watch==4.2.0
python-telegram-handler==2.2
pytz==2020.1
pyyaml==5.3.1
rq==1.4.1
uwsgi==2.0.18
wtforms==2.3.1
